.container{
    justify-content: center;
    background: var(--white)
}


.postList{
    background: rgba(255, 255, 240, 0.4);
    max-width: 50vw;
    margin: 0 auto;
    border-radius: 2rem;
    padding: 1rem;
    padding-top: 5rem;

    img{
        max-width: 50vw;
    }
    
    h1{
        font-size: 3rem;
        margin-bottom: 5rem;
    };


    strong{
        display: block;
        font-size: 1.4rem;
        margin-top: 1rem;
        line-height: 1.8rem;
    };

    p{
        margin-top: 0.5rem;
    };

    a{
        display: block;

        & + a {
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: solid var(black);
    };

    
    };

    time{
        font-size: 1.1rem;
        display: flex;
        align-items: center;
    };
}

.styledContent{
    margin: 0;
}