.container{
    padding: 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    div{
        align-items: center;
        position: relative;
        width:20rem;
        margin: 0 auto;
    }
}

